<div class="m-2 d-flex justify-content-center align-content-center flex-column">
    <h3 class="text-center">Your calendars</h3>
    <div class="table-responsive w-50-auto m-auto">
        <table class="table table-hover">
            <thead class="table-warning text-secondary">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        <span *ngIf="nameNotSorted()" 
                            (click)="sortNameDown()"
                            class="mouse-pointer">
                            Name
                        </span>
                        <span *ngIf="nameSortedUp()" 
                            (click)="sortNameDown()" 
                            class="text-dark mouse-pointer">
                            <i class="bi bi-sort-up-alt"></i>Name
                        </span>
                        <span *ngIf="nameSortedDown()" 
                            (click)="sortNameUp()" 
                            class="text-dark mouse-pointer">
                            <i class="bi bi-sort-down-alt"></i>Name
                        </span>
                    </th>
                    <th>
                        <span *ngIf="yearNotSorted()" 
                            (click)="sortYearDown()"
                            class="mouse-pointer">
                            Year
                        </span>
                        <span *ngIf="yearSortedUp()" 
                            (click)="sortYearDown()" 
                            class="text-dark mouse-pointer">
                            <i class="bi bi-sort-up-alt"></i>Year
                        </span>
                        <span *ngIf="yearSortedDown()" 
                            (click)="sortYearUp()" 
                            class="text-dark mouse-pointer">
                            <i class="bi bi-sort-down-alt"></i>Year
                        </span>
                    </th>
                    <th>
                        <span *ngIf="typeNotSorted()" 
                            (click)="sortTypeDown()"
                            class="mouse-pointer">
                            Type
                        </span>
                        <span *ngIf="typeSortedUp()" 
                            (click)="sortTypeDown()" 
                            class="text-dark mouse-pointer">
                            <i class="bi bi-sort-up-alt"></i>Type
                        </span>
                        <span *ngIf="typeSortedDown()" 
                            (click)="sortTypeUp()" 
                            class="text-dark mouse-pointer">
                            <i class="bi bi-sort-down-alt"></i>Type
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of calendars; index as i"
                    (click)="goToCalendar(c)"
                    class="mouse-pointer">
                    <td>{{i+1}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.year}}</td>
                    <td>{{c.type | calendarType}}</td>
                </tr>
                <tr *ngIf="calendarsEmpty">
                    <td class="text-center" colspan="4">You dont have any calendars at now.</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-warning text-white mx-2" 
                (click)="update()"
                [disabled]="isUpdating">
                <ng-template [ngIf]="isUpdating === false">
                    Update
                </ng-template>
                <ng-template [ngIf]="isUpdating">
                    Updating<app-waiting-mark></app-waiting-mark>
                </ng-template>
            </button>
            <a class="btn btn-warning text-white mx-2" 
                routerLink="/create/calendar">
                Add new
            </a>
        </div>
    </div>
    <app-modal [id]="calendarsErrorModalId" title="Error">
        <p *ngFor="let error of errorMessages">{{error}}</p>
        <p class="text-center">Try update later.</p>
    </app-modal>
</div>