html {
    height: 100%;
}
body {
    min-height: 100%;
}
.errors {
    color: #dc3545;
    text-align: center;
}
.errors > ul {
    padding: 0;
    margin: 0;
    list-style:none;
}
.errors > ul > li {
    margin: 5px;
}