<div class="text-center m-5">
    <h2>Delete calendar</h2>
    <p>
        Are you surelly want to delete calendar 
        '{{calendar?.name}}, 
        {{calendar?.year}} year, 
        {{calendar?.type | calendarType}} type'?
    </p>
    <div>
        <button class="btn btn-warning m-2"
            (click)="delete()">
            Delete
        </button>
        <a class="btn btn-danger m-2" 
            [routerLink]="'/calendar/'+calendar?.id">
            Back
        </a>
    </div>
    <app-modal title="Error" 
        [id]="errorModalId" 
        [afterCloseAction]="createRedirectToCalendarPage()">
        <p *ngFor="let e of errorMessages">{{e}}</p>
    </app-modal>
</div>