.part {
    height: 400px;
}
.home-background {
    background-image: url('/assets/home-background.jpg');
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}