<div class="m-2">
    <h4 class="m-0 p-0">Contacts</h4>
    <ul class="list-group list-group-flush m-0">
        <li class="list-group-item bg-warning">
            <i class="bi bi-linkedin"></i>LinkedIn: 
            <a class="text-break" href="https://www.linkedin.com/in/oleksii-havryk-5ab017240/" target="_blank">
                Oleksii Havryk
            </a>
        </li>
        <li class="list-group-item bg-warning">
            <i class="bi bi-envelope-at"></i>Gmail: 
            <a class="text-break" href="mailto: oleksii.havryk2004@gmail.com" target="_blank">
                oleksii.havryk2004@gmail.com
            </a>
        </li>
        <li class="list-group-item bg-warning">
            <i class="bi bi-github"></i>Github: 
            <a class="text-break" href="https://github.com/oleksiihavryk" target="_blank">
                https://github.com/oleksiihavryk
            </a>
        </li>
    </ul>
</div>