<h5>Email</h5>
<div class="my-0 d-flex flex-row justify-content-between">
    <span class="text-break">{{email ?? '-'}}</span>
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex">
            <button *ngIf="email === undefined" 
                class="btn btn-sm btn-warning text-white mx-1">Add</button>
            <button *ngIf="email !== undefined" 
                class="btn btn-sm btn-warning text-white mx-1">Change</button>
            <button *ngIf="email !== undefined" 
                class="btn btn-sm btn-warning text-white mx-1">Remove</button>
        </div>
    </div>
</div>