<app-update-window [isWorking]="isUpdating">
    <div class="m-auto p-5 w-50-auto">
        <h3>Profile data</h3>
        <hr/>
        <section class="mx-2">
            <h5>Identifier</h5>
            <p class="my-0">{{auth.userData.id}}</p>
        </section>
        <hr/>
        <section class="mx-2">
            <app-username [username]="auth.userData.username ?? ''"></app-username>
        </section>
        <hr/>
        <section class="mx-2">
            <app-email [email]="auth.userData.email"></app-email>
        </section>
        <hr/>
        <h3>Information</h3>
        <hr/>
        <section class="mx-2">
            <app-calendars-information [calendarsCount]="calendarsCount" [eventsCount]="eventsCount"></app-calendars-information>
        </section>
        <hr/>
        <h3>Settings</h3>
        <hr/>
        <section class="mx-2">
            <app-password></app-password>
        </section>
    </div>
</app-update-window>
<app-modal [id]="profileErrorModalId"
    title="Error">
    <p *ngFor="let e of errorMessages">{{e}}</p>
</app-modal>