/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .profile-pic {
        width: 100px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .profile-pic {
        width: 210px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile-pic {
        width: 240px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .profile-pic {
        width: 270px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .profile-pic {
        width: 300px;
    }
}