<div class="d-flex justify-content-evenly align-items-start flex-wrap p-5">
    <section class="d-flex flex-column p-2 m-2 text-white bg-warning">
        <img class="profile-pic mx-auto" src="assets/profile-pic.png">
        <p class="text-center">{{ auth.userData.username }}</p>
        <p class="text-center m-0">Contact data</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-break" *ngIf="auth.userData.email !== undefined">
                Email: <a class="link-dark link-underline-dark">{{ auth.userData.email }}</a>
            </li>
            <li class="list-group-item text-break" *ngIf="auth.userData.email === undefined">
                Email: none
            </li>
        </ul>
    </section>
    <div class="d-flex flex-wrap justify-content-center">
        <section class="px-2 m-2">
            <h2>Information</h2>
            <section class="p-2">
                <h5>Calendars: {{calendarsCount}}</h5>
                <h5>Events: {{eventsCount}}</h5>
                <a class="btn btn-warning text-white"
                    routerLink="/calendars">
                    Go to calendars
                </a>
            </section>
        </section>
        <section class="px-2 m-2">
            <h2>Settings</h2>
            <section class="d-flex flex-column p-2 mb-2">
                <h5>Profile settings</h5>
                <button class="btn btn-warning text-white mb-1"
                    (click)="featureIsUnavailable('Change password')">
                    Change password
                </button>
                <button class="btn btn-warning text-white"
                    (click)="featureIsUnavailable('Add/remove email')">
                    Add/remove email
                </button>
            </section>
        </section>
    </div>
</div>
<app-modal [id]="profileErrorModalId"
    title="Error">
    <p *ngFor="let e of errorMessages">{{e}}</p>
</app-modal>
<app-modal [id]="featureIsUnavailableModalId"
    title="Unavailable feature"
    [afterCloseAction]="createRemoveFeatureNameHandler()">
    Current feature '{{this.featureName}}' is unavailable. Try again later!
</app-modal>