.months-navigator {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0; 
}
.months-navigator > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.months-navigator > ul > li {
    cursor: pointer;
    margin: 5px;
}
.months-navigator > ul > li:hover {
    text-decoration: underline;
}
.buttons-layout-area {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}
.buttons-layout-area > *::before {
    content: '*';
}
.buttons-hover {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0; 
}
.buttons-area {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
}