<section #panel class="months-navigator bg-secondary">
    <ul class="text-white m-0 p-1">
        <li><a (click)="scroll('#0')">January</a></li>
        <li><a (click)="scroll('#1')">February</a></li>
        <li><a (click)="scroll('#2')">March</a></li>
        <li><a (click)="scroll('#3')">April</a></li>
        <li><a (click)="scroll('#4')">May</a></li>
        <li><a (click)="scroll('#5')">June</a></li>
        <li><a (click)="scroll('#6')">July</a></li>
        <li><a (click)="scroll('#7')">August</a></li>
        <li><a (click)="scroll('#8')">September</a></li>
        <li><a (click)="scroll('#9')">October</a></li>
        <li><a (click)="scroll('#10')">November</a></li>
        <li><a (click)="scroll('#11')">December</a></li>
    </ul>
    <div class="buttons-layout-area text-center w-100 pb-2">
        <i class="h3"></i>
    </div>
</section>
<div #buttons class="buttons-area text-center w-100 pb-2">
    <i *ngIf="panelHidden === false" 
        (click)="hidePanel(panel)"
        class="bi bi-arrow-down-square h3"></i>
    <i *ngIf="panelHidden" 
        (click)="showPanel(panel)"
        class="bi bi-arrow-up-square h3"></i>
</div>