<div class="my-0 d-flex flex-row justify-content-between">
    Password settings
    <div>
        <button *ngIf="isChangePasswordPanelOpen === false"
            (click)="toggleChangePasswordPanel(panel)" 
            class="btn btn-sm btn-warning text-white mx-1">Change password</button>
        <button *ngIf="isChangePasswordPanelOpen" 
            (click)="toggleChangePasswordPanel(panel)" 
            class="btn btn-sm btn-warning text-white mx-1">Close</button>
    </div>
</div>
<div #panel class="d-flex-non-important flex-column justify-content-center" style="display: none;">
    <div class="d-flex flex-row justify-content-center">
        <app-input [control]="oldPassword" name="Old password" type="password"></app-input>
        <app-input [control]="newPassword" name="New password" type="password"></app-input>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <button (click)="changePasswords(panel)" 
            class="btn btn-sm btn-warning text-white mx-1"
            [disabled]="form.valid === false">Change</button>
    </div>
</div>
<app-modal [id]="changePasswordErrorModalId"
    title="Errors">
    <p *ngFor="let m of errorMessages">{{m}}</p>
</app-modal>