<section class="d-flex flex-column footer bg-warning p-0">
    <div class="d-flex flex-row-reverse p-3">
        <div class="m-0">
            <p class="m-0 p-0">Contacts:</p>
            <ul class="list-group list-group-flush m-0">
                <li class="list-group-item bg-warning">
                    <i class="bi bi-linkedin"></i>LinkedIn: 
                    <a class="text-break" href="https://www.linkedin.com/in/oleksii-havryk-5ab017240/" target="_blank">
                        Oleksii Havryk
                    </a>
                </li>
                <li class="list-group-item bg-warning">
                    <i class="bi bi-envelope-at"></i>Gmail: 
                    <a class="text-break" href="mailto: oleksii.havryk2004@gmail.com" target="_blank">
                        oleksii.havryk2004@gmail.com
                    </a>
                </li>
                <li class="list-group-item bg-warning">
                    <i class="bi bi-github"></i>Github: 
                    <a class="text-break" href="https://github.com/oleksiihavryk" target="_blank">
                        https://github.com/oleksiihavryk
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center bg-dark text-white p-2">
        <p class="m-auto">&copy; 2023 Copyright: online-calendars.com</p>
    </div>
</section>