<app-side-panel></app-side-panel>
    <a class="btn-white text-white btn btn-lg bi mt-2 mx-2"
    [ngClass]="{
        'bi-arrow-left-square-fill': sidePanel.isOpen,
        'bi-three-dots': sidePanel.isClosed
    }"
    (click)="sidePanel.changeState()">
</a>
<header class="container-fluid d-flex flex-row justify-content-between text-white bg-warning p-2 m-0 position-fixed">
    <div class="btn-white text-white btn btn-lg bi"
    [ngClass]="{
        'bi-arrow-left-square-fill': sidePanel.isOpen,
        'bi-three-dots': sidePanel.isClosed
    }"></div>
    <div class="d-flex flex-column justify-content-center">
        <h1 class="m-0">Calendars</h1>
    </div>
</header>