.align-center {

}
.calendar {
    table-layout: fixed;
}
.calendar-weeks {
    text-align: center;
    font-size: 18px;
    color: grey;
}
.calendar > thead > tr {
    text-align: center;
}
/*day*/
.calendar > tbody > tr > td {
    text-align: center;
}
.calendar-day {
    color: grey;
    padding: 2.5% 0;
    font-size: 22px;
    border-left: 2px groove grey;
    border-top: 2px groove grey;
}
.calendar-day:hover {
    color: black;
    border: 2px solid orange;
    cursor: pointer;
}
.calendar-month {

}
tr:first-child > .calendar-day {
    border-top: none;
}
tr > .calendar-day:first-child {
    border-left: none;
}
tr:first-child > .calendar-day:hover {
    color: black;
    border: 2px solid orange;
}
tr > .calendar-day:first-child:hover {
    color: black;
    border: 2px solid orange;
}