.calendar {
    table-layout: fixed;
}
.calendar-weeks {
    text-align: center;
    font-size: 18px;
    color: grey;
}
.calendar > thead > tr {
    text-align: center;
    color: grey;
}
/*day*/
.calendar > tbody > tr > td {
    text-align: center;
}
.calendar-day {
    padding: 2.5% 0;
    font-size: 22px;
    border-left: 2px groove grey;
    border-top: 2px groove grey;
}
.calendar-day:hover {
    cursor: pointer;
    color: black;
    border: 2px solid orange;
}
.calendar-month {
    writing-mode:vertical-rl;
}
tr:first-child > .calendar-day {
    border-top: 2px solid white;
}
tr:last-child > .calendar-day {
    border-bottom: 2px solid white;
}
tr:last-child > .calendar-day:hover {
    border: 2px solid orange;
}
tr > .calendar-day:first-child {
    border-left: 2px solid white;
}
tr > .calendar-day:last-child {
    border-right: 2px solid white;
}
tr > .calendar-day:last-child:hover {
    border: 2px solid orange;
}
tr:first-child > .calendar-day:hover {
    border: 2px solid orange;
}
tr > .calendar-day:first-child:hover {
    border: 2px solid orange;
}