<content class="d-flex flex-column justify-content-center m-0">
    <div class="d-flex flex-column justify-content-center part text-center">
        <p href="#" class="display-4 m-5">So, why do you need this?</p>
    </div>
    <div class="d-flex flex-column justify-content-center part info-background2 text-white">
        <p class="custom-w-background2-text m-5 align-self-end">
            Online calendars - site for creating and managing calendars. You can create your calendar,
            schedule your events by days and even by hours. Otherwise, you may just check the closest holidays in your country.
        </p>
    </div>
    <div class="d-flex flex-column justify-content-center part text-center">
        <p href="#" class="display-4 m-5">Okay, but maybe some advantages between other services?</p>
    </div>
    <div class="d-flex flex-column justify-content-center part info-background1">
        <p class="w-50 m-5">
            The structure of this site is too simple. To start working you need only login in.
            You can contain different calendars for different needs. Every calendar can have one or more events.
            Also, the calendar can display to you holidays by country and type of calendar.
            The structure of the site is built in such a way that the user can get what he needs as quickly as possible.
        </p>
    </div>
    <div class="d-flex flex-column justify-content-center part text-center">
        <p class="display-4 m-5">If this is what you looking for, 
            <a href="#" class="link-warning" (click)="start()">let's start</a>!
            <app-modal [id]="alreadyLoggedInModalId"
                title="Start">
                You cannot start because you already logged in!
            </app-modal>
        </p>
    </div>
</content>